<% if current_user.nil?  %>

	<% if  request.subdomain.blank? || request.subdomain == "www" %>
	    <%= link_to('Signup',new_user_registration_path)%>
	<% else %>
	    <%= link_to('Login',new_user_session_path)%>
	<% end %>
    
    
<% else %>
    Welcome <%=current_user.email%>
    <%= link_to('Logout',destroy_user_session_path,:method=>:delete)%>

    <%= link_to('Manage Subscription',subscriptions_path)%>

    <%= link_to('Invite User',new_user_invitation_path)%>
<% end %>


<h1><%=@message%></h1>





