
      <%= render  @template_part.nil? ? "layouts/css/default"  : "layouts/css/"+@template_part %>

      <%= render @template_part.nil? ? "layouts/default" : "layouts/"+@template_part %>


        <%= yield %>
        <%= render  @template_part.nil? ? "layouts/footer/default"  : "layouts/footer/"+@template_part %>
       
        <script>
            var resizefunc = [];
        </script>
       <%= render  @template_part.nil? ? "layouts/js/default"  : "layouts/js/"+@template_part %>

    </body>
</html>  

        <!-- Begin page -->